.medium-6.cell
  .badged
    .grid-x
      .small-5.cell
        = link_to anthony_midili_path do
          = image_tag 'https://avatars0.githubusercontent.com/u/1408574?s=460',
          class: 'developer'

      .small-7.cell
        %h4 Anthony Midili
        %ul.inline-list
          %li
            = link_to 'https://twitter.com/AnthonyMidili', target: '_blank' do
              = image_tag 'social_nework_icons/twitter_logo_blue_29.png'
          %li
            = mail_to 'tonywinslow13@gmail.com', subject: 'The Tin Foil Hat Company' do
              %i.fas.fa-envelope
