.row

  .small-12.medium-6.large-6.columns
    .badge
      .row

        .small-5.columns
          = image_tag('https://avatars0.githubusercontent.com/u/1408574?s=460',
          class: 'developer')

        .small-7.columns
          %h4 Anthony Midili
          %ul.inline-list
            %li
              = link_to 'https://www.facebook.com/tonywinslow13', target: '_blank' do
                = image_tag('social_nework_icons/FB_f_Logo_blue_29.png')
            %li
              = link_to 'https://plus.google.com/+AnthonyMidili', target: '_blank' do
                = image_tag('social_nework_icons/g_plus_29.png')
            %li
              = link_to 'https://twitter.com/AnthonyMidili', target: '_blank' do
                = image_tag('social_nework_icons/twitter_logo_blue_29.png')

  .small-12.medium-6.large-6.columns
    .badge
      .row

        .small-5.columns
          = image_tag('https://avatars1.githubusercontent.com/u/19900?s=460',
          class: 'developer')

        .small-7.columns
          %h4 Frank Mattia
          %ul.inline-list
            %li
              = link_to 'https://www.facebook.com/frankjmattia', target: '_blank' do
                = image_tag('social_nework_icons/FB_f_Logo_blue_29.png')
            %li
              = link_to 'https://plus.google.com/+FrankMattia', target: '_blank' do
                = image_tag('social_nework_icons/g_plus_29.png')
