%footer
  #style_footer
    .row
      .col-md-4
        = link_to root_path do
          = image_tag 'tinfoilhat/WebDesign_LetterHead.svg'

      .col-md-8
        .float-end
          %ul.list-inline
            %li.list-inline-item= link_to 'About', about_path
            %li.list-inline-item= link_to 'Anthony Midili', anthony_midili_path
            %li.list-inline-item= link_to 'Frank Mattia', frank_mattia_path
    .row
      .col
        .version v-2.1.2201.2
