!!!
%html{lang: 'en'}

  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    -# google site verification for amidili@ttfh.co email address
    %meta{:content => "V9nrms4IY5DTDt5FR9HVy6JAJ0V7rxXPR8gtTHy9yNk", :name => "google-site-verification"}/

    = favicon_link_tag 'favicon.png'
    %title= content_for?(:title) ? yield(:title) : 'TheTinFoilHat'

    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "yes", name: "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head

    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"

  %body
    #wrap
      = render 'layouts/top_bar'

      #main
        = yield

    = render 'layouts/footer'
