!!!
%html{lang: 'en'}

  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/

    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
    %link{href: "github-activity.min.css", rel: "stylesheet"}/
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js", type: "text/javascript"}
    %script{src: "github-activity.min.js", type: "text/javascript"}

    = favicon_link_tag
    %title= content_for?(:title) ? yield(:title) : 'ManOnFire WebDesign'

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #wrap
      = render 'layouts/header'

      #main
        = yield

    = render 'layouts/footer'
