!!!
%html{lang: 'en'}

  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    -# google site verification for amidili@ttfh.co email address
    %meta{:content => "V9nrms4IY5DTDt5FR9HVy6JAJ0V7rxXPR8gtTHy9yNk", :name => "google-site-verification"}/

    = favicon_link_tag 'favicon.png'
    %title= content_for?(:title) ? yield(:title) : 'TheTinFoilHat'

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body
    #wrap
      = render 'layouts/top_bar'

      #main
        = yield

    = render 'layouts/footer'
